.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #f5f5f5;
} 